.social__link {
  display: inline-block;
  width: 61px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
}

.social__list {
  display: flex;
  width: 316px;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  justify-content: space-between;
}

.social__link:hover {
  border-color: #4bcaff;
  box-shadow: 0px 0px 15px #4bcaff;
}

.social__link:active {
  border-color: #4bcaff;
  box-shadow: 0px 0px 15px #4bcaff;
  opacity: 0.5;
}

.social__link:hover path,
.social__link:hover polygon {
  fill: #4bcaff;
}
